<h1>Made by Kristiyan Kraev</h1>
<div class="search-container">
    <input type="text" class="search-input" placeholder="Search city" value="{{cityName}}" [(ngModel)]="cityName">
    <button class="search-button" (click)="searchWeather()" [disabled]="cityName.length < 3">Search</button>
</div>


@if (showInfo) {
<div class="content">
    <div class="row">
        <div class="image-container">
            <img src="../assets/file-20220126-17-1i0g402.avif" alt="" class="section-image">
        </div>
        <div class="temperature">
            Current temp:{{data.temp}}°C
        </div>


    </div>

    <div class="row">
        <div class="section-2">
            <div class="top-info">
                <p>Feels like: {{data.feelsLike}} °C</p>

                <p>City:{{data.city}}</p>
            </div>
            <div class="bottom-info">
                <div class="info-box">
                    <a [routerLink]="['details',cityName]">More info</a>

                </div>

            </div>
        </div>
    </div>
</div>
}