<a routerLink="/" class="search-button">Go back to home page</a>

<div class="row">
    <div class="section-2">
        <div class="top-info">
            <p>City: {{data.city}} </p>
        </div>
        <div class="bottom-info">
            <div class="info-box">
                <p>Temperature: {{data.temp}} °C</p>
                <p>Feels like: {{data.feelsLike}} °C</p>
                <p>Pressure: {{data.pressure}} hPA</p>
                <p>Humidity: {{data.humidity}} %</p>
                <p>Weather Type: {{data.main}}</p>
            </div>

        </div>
    </div>
</div>